*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table{
  padding: 10px;
}

table tr td{
  padding: 10px;
}


nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

nav ul li{
  padding: 10px;
}

form{
  /* border: 1px solid #333333; */
  padding: 10px;
  max-width: 300px;
}

form > div{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}


form > div label{
  width: 100px;
  /* flex-basis: calc(10% - 10px); */
}

form input,
form select{
  padding: 5px 10px;
}
